/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
*{
	border: 1px solid black;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 90%;
	margin: 0 auto;
}

.nav-container {
	margin-top: 30px;
}

section nav {
	width: 100%;
	display: flex;
	justify-content:space-between;
	margin: 30px auto;
}

.links {
	color: gray;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
}

.logo-container {
	width: 15%;
}

/* start of Header Section */

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
}

.left-header {
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.words {
	display: flex;
	width: 100%;
	justify-content: center;
}

h1{
	font-size: 75px;
	text-align: center;
}

.right-header {
	width: 45%;
	display: flex;
}

button{
	font-size: 20px;
	padding: 5px 13px;
	margin: 0 auto;
}

.right-header img{
	width: 60%;
}

/* Line Break */

.line-break{
	width: 100%;
	margin: 30px auto;
}

/* Top Section */

.top-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
}

.Features{
	display: flex;
	flex-wrap: wrap;
	width: 45%;
}

.About{
	display:flex;
	flex-wrap: wrap;
	width: 45%;
}

/* Middle Image */

.middle-img-container{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto 30px;
}

/* Bottom Section */

.bottom-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
}

.Services{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.Product{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.Vision{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

/* Line Break */

.line-break2{
	width: 100%;
	margin: 30px auto;
}

/* Contact Section */

.contact{
	width: 100%;
	margin: 0 auto 30px;
}

footer{
	text-align: center;
}